.Header {
  justify-content: center;
  background-image: url("../../../assets/images/bulleokok.png");
  background-repeat: no-repeat;
  background-position: top center;
  height: 213px;
}

.MainTitle {
  margin-top: 0;
  padding-top: 1rem;
  text-decoration: none;
}
