@import url('/src/css/font.css');

:root {
  --blue-theme: #558CD6;

  --main-font-title: 'NanumBrushScript-Regular';
  --main-font-text: 'ComicNeue-Regular';
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--main-font-text);
}

h1 {
    font-family: var(--main-font-title);
    font-size: 4rem;
    text-align: center;
    text-decoration: none;
}

h2 {
    font-family: var(--main-font-title);
    font-size: 3rem;
    text-align: center;
    text-decoration: none;
}

h3 {
    font-family: var(--main-font-title);
    font-size: 2rem;
    text-align: center;
    text-decoration: none;
}

p {
    font-family: var(--main-font-text);
}

button {
    font-family: var(--main-font-text);
}